@model DivineAcademy.Web.Areas.Student.Models.ResetPasswordViewModel
@using Microsoft.AspNet.Identity;
@using DivineAcademy.Web.Areas.Student.Models;
@using DivineAcademy.Entities.StudentEntities;
@using DivineAcademy.DataBase.Context;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Student/Views/Shared/_StudentDashboard.cshtml";

}


@if (Request.IsAuthenticated && ViewData.ContainsKey("FullName"))
{

    <section style="background-color: #eee;">
        <div class="container py-2">
            <div class="row" style="text-align:center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <strong>Change Password </strong>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">

                            <hr style="height:8px;position:relative;border:none;color:green" />

                            <h5 class="my-3">@ViewData["FullName"]</h5>
                            <div class="d-flex justify-content-center mb-2">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="post">

                                <div class="row" style="display:none">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Emaid</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="ID" class="form-control"
                                               value="@ViewData["userID"]" />
                                        <input type="text" name="Email" class="form-control"
                                               value="@ViewData["Email"]" />
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">New Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="Password" class="form-control"
                                               placeholder="Enter New Password" />
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Confirm New Password</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="ConfirmPassword" class="form-control"
                                               placeholder="Enter New Confirm Password" />
                                    </div>
                                </div>
                                <hr>
                                <br />
                                <div class="d-flex justify-content-center mb-2">

                                    <button type="submit" class="btn btn-primary ms-1" id="reset" >Reset</button>|
                                    <a href="@Url.Action("Index","StudentDashBoard")"
                                       class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/sweet-alert-min.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />





@if (TempData["msg"] != null)
 {
<script type="text/javascript">
    swal({
         title: "Message",
         text: "@TempData["msg"]",
         type: "success"
    });
    

</script>
    }