@model DivineAcademy.Model.ViewModels.CourseNameViewModel
@{
    ViewBag.Title = "Save Course";
    Layout = "~/Areas/Student/Views/Shared/_StudentDashboard.cshtml";
    var imageURL = "/Content/img/placeholder-image.png";

}


@if (Request.IsAuthenticated)
{

    <section style="background-color: #eee;">
        <div class="container py-2">
            <div class="row" style="text-align:center">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <strong>Save Course</strong>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            @*<img src="~/Content/img/divine-logo.jpg" alt="avatar"
        class="rounded-circle img-fluid" style="width: 150px;height:137px">*@


                            <img id="uploadedImagePreview" height="213" width="492"  
                                 class="img-thumbnail img-fluid" src="@imageURL" />

                            <div class="form-group">
                                <ul id="imageUploadList">                                   
                                </ul>
                            </div>
                            <hr style="height:2px;position:relative;border:none;color:green" />

                            <h5 class="my-3">Save Course Names</h5>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form method="post">

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Category Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <select name="CourseCategoryID" required="required" class="form-control">
                                            @foreach (var courseCategory in Model.AvailableCourseCategories)
                                            {
                                                <option value="@courseCategory.ID">@courseCategory.Name</option>

                                            }

                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Course Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="Name" class="form-control"
                                             required="required"  placeholder="Course Name" />
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Course Price</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="Price" class="form-control"
                                             required="required"  placeholder="Enter Price" />
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Course Description</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" name="Description" class="form-control"
                                            required="required"   placeholder="Course Description" />
                                    </div>
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Image Upload</p>
                                    </div>
                                    <div class="col-sm-9">

                                        <div class="custom-file">
                                            <input id="ImageURL" name="ImageURL" class="form-control" type="hidden"  />
                                            <input type="file" name="files" class="custom-file-input" id="categoryImg" required  multiple accept="image/png, image/jpeg, image/gif, image/jpg">
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                
                                <div class="d-flex justify-content-center mb-2">
                                    <button type="submit" class="btn btn-primary ms-1">Save</button>|
                                    <a href="@Url.Action("DisplayCourseCategory","Course")"
                                       class="btn btn-danger">Cancel</a>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/sweet-alert-min.js"></script>
<link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />



<script>
    $("#categoryImg").change(function () {
        debugger;
        $("#imageUploadList").empty();
        var fp = $("#categoryImg");
        var formData = new FormData();
        var lg = fp[0].files.length; // get length
        var items = fp[0].files;
        var fragment = "";
        debugger;
        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                var fileName = items[i].name; // get file name
                var fileSize = items[i].size; // get file size
                var fileType = items[i].type; // get file type

                // append li to UL tag to display File info
                fragment += "<li style=color:#007bff>" + fileName + " (<b>" + fileSize + "</b> bytes) - Type :" + fileType + "</li>";
                formData.append("files", $("#categoryImg")[0].files[0]);
            }
            $("#imageUploadList").append(fragment);
        }
        $.ajax({
            type: 'POST',
            url: '/Admin/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
         .done(function (data) {
            debugger;
            console.log(data)            
             if (data.Sucess) {
                 debugger;
                 $("#ImageURL").val(data.ImageURL)
                    $("#uploadedImagePreview").attr('src', data.ImageURL);
                    //("#uploadsuccess").show();
                 $("#imageUploadList").append("<hr style=height: 2px; position: relative; border: none; color: green />");
                    $("#imageUploadList").append("<label style=color:green>Images Uploaded Successfully On Server</label>");
                }
            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Failed");
            });



    });
</script>







@if (TempData["msg"] != null)
{
    <script type="text/javascript">
    swal({
         title: "Message",
         text: "@TempData["msg"]",
         type: "success"
    });


    </script>
}





