@model DivineAcademy.Web.Areas.Student.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password ?";
}
<br /><br />
<h3 style="color: #86BC42;text-align:center">@ViewBag.Title </h3>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <section>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 style="text-align:center;color:#86BC42"> Enter your registered email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label",style= "color:#86BC42" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Send Email" />
                            <a href="@Url.Action("Index","Home",new {Area="" })" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                }
            </section>
            
        </div>

        <div class="col-sm-4" >
            <h4 style="color: #86BC42;text-align:center">Come To Learn Go To Serve !</h4>
            <hr />
            @*<strong style="color:red">Dear Candidates You Will Get Forgot Password Link On your Registered Email ID </strong>*@

        <div style="text-align:center">
            <img src="~/Content/img/divine-logo-small.jpg" class="img-responsive"  style="margin-left:35%;height:118px"/>
        </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
